@import url(./fonts/font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    @apply font-urbanist
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply m-auto dark:bg-grayshade-500 dark:text-white max-w-7xl min-h-screen py-3 px-14;
  }
}
