@import url(./fonts/font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-urbanist;
  }
  html {
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply dark:bg-grayshade-500 dark:text-white;
  }
  body::-webkit-scrollbar-track {
    @apply dark:bg-grayshade-400 bg-grayshade-50;
  }

  body::-webkit-scrollbar {
    @apply bg-grayshade-200 w-[10px] hidden sm:block;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-purpleshade-400 border border-purpleshade-400;
  }
}

@layer components {
  .wrapper {
    @apply m-auto max-w-[1480px] min-h-[calc(100vh-162px)] py-3 lg:px-14 md:px-14 px-4;
  }
  .wrapper-full {
    @apply w-full min-h-[calc(100vh-162px)] py-3 lg:px-14 md:px-14 px-4;
  }
  .lable {
    @apply bg-zinc-200 dark:bg-grayshade-400 text-grayshade-300 dark:text-white inline-block border  border-grayshade-50 dark:border-grayshade-300 py-2 px-3 font-semibold  text-xs rounded-full my-4;
  }
  .form-section {
    @apply flex flex-col my-2 md:max-w-72 w-full lg:max-w-[498px] m-auto;
  }
  .form-section label {
    @apply text-lg font-semibold;
  }
  .form-section input {
    @apply text-base p-2 md:p-3 lg:p-4 md:max-w-80 w-full lg:max-w-[498px] outline-none text-gray-900 rounded-xl border border-gray-300  bg-lightColor-300 focus:ring-purpleshade-400 focus:border-purpleshade-400 dark:bg-grayshade-500 dark:border-grayshade-300 dark:text-white dark:focus:ring-purpleshade-400 dark:focus:border-purpleshade-400;
  }
  .form-section span {
    @apply text-red-500 h-6;
  }
  .form-section button {
    @apply px-6 py-3 bg-purpleshade-400  text-white my-2 text-center rounded-lg w-full max-w-80;
  }
  .form-section a {
    @apply px-6 py-3 bg-grayshade-200 text-white my-2 text-center rounded-lg w-full max-w-80;
  }
  .bad {
    @apply bg-white dark:bg-grayshade-400 border border-grayshade-200 p-1 rounded-md;
  }
  .list {
    @apply flex items-center justify-center cursor-pointer hover:bg-lightColor-300 dark:hover:bg-grayshade-400 rounded-lg py-2;
  }
  .button {
    @apply text-center text-lg rounded-lg text-white bg-purpleshade-400;
  }
  .btn,
  .btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
  }

  .btn {
    @apply px-8 py-3 shadow-lg;
  }

  .btn-sm {
    @apply px-4 py-2 shadow;
  }

  /* animation classes */
  [data-aos="zoom-y-out"] {
    transform: scaleX(1.03);
    opacity: 0;
    transition-property: transform, opacity;
  }
}
